/*
 * mathed.css
 * By Ryan Sandor Richards
 */
#mathin {
  border: 1px solid #333;
  padding: 0.5em;
  font-size: 120%;
}

#mathout {
  border: 1px dotted #333;
  background-color: #eee;
  padding: 0.5em;
  font-size: 120%;
}

